.grade {
    /* background-color: rgb(255, 255, 255); */
    /* background-color: darkgray; */
    padding: 15px;

    .examine {
        font-size: 20px;
        font-weight: normal;
        line-height: normal;

    }

    .friction {
        margin-top: -9px;
    }

    .cc {
        line-height: 15px;
    }

    .stain {
        margin-top: 15px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.67;
    }

    .situations {
        /* margin-bottom: 20px; */
        padding-left: 12px;
    }

    .good_picture {
        margin-left: -6px;
        margin-top: -20px;
    }

    .unqualified_picture {
        margin-left: -11px;
        margin-top: -20px;
    }

    .new {
        margin-bottom: 28px;

        .new_title {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.67;
        }

        .new_desc {
            font-size: 15px;
            font-weight: 300;
            line-height: 1.67;
        }
    }

    .good_case {
        margin-top: 5px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.27;
        color: rgb(24, 195, 170);
        text-align: center;
        display: flex;
        justify-content: center
    }

    .retract {
        margin-top: 5px;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.27;
        color: rgb(24, 195, 170);
        text-align: center;
    }

    .good {
        margin-bottom: 28px;
    }

    .reason {
        margin-bottom: 28px;
    }

    .unqualified {
        margin-bottom: 28px;
    }

    .secondary {
        margin-bottom: 28px;
    }

    .good_title {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.67;
    }

    .good_desc {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.67;
    }

    .examine_desc {
        font-size: 15px;
        font-weight: 300;
        line-height: 1.8;
        margin: 8px 0px 20px;
    }

    .Icon {
        width: 1.4em;
        vertical-align: -.3em;
    }

    h1,
    h2 {
        margin: 0px;
    }
}