#font-set{
    text-decoration: none;
    color: #ffffff;
}
.modals{
    display: flex;
    height: 100%;
    margin: 3em 1em ;
    /* margin: 5em 1em ; */
    flex-direction: column;
    .modal-set{
        flex-grow: 1;
        display: flex;
        align-items: center;
        flex-direction:column;
        .content-bottom{
            padding-bottom: 1em;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             .svg{
                display:inline-block;
                margin-right:3px;
                position:relative;
                left: 5px;
                bottom: -3px;
            }
         
         }
         .colors{
            background: rgb(210, 210, 210);
            border-color: rgb(210, 210, 210);
        }
        .wechat{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            font-size:15px;
            color: #fff;
            background: rgb(24, 195, 170);
            border-color: rgb(24, 195, 170);
            border-radius: 999px;
            margin-bottom: 1.5em;
        }
    }
    
}




