.-id{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    .-modal{
        display: flex;
        height: 100%;
        margin: 0 1em;
        flex-direction: column; 
        .-modal-user{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .-modal-selete{
                position: relative;
                box-sizing: border-box;
                background: #fff;
                border-radius: 10px;
                overflow-x: hidden;
                pointer-events: auto;
                max-height: 480px;
                height:30em;
                max-width: 400px;
                width: 30em;
                .-selete-header{
                    margin: 0 22p x;
                    padding: 15px 0;
                    font-size: 20px;
                    text-align: center;
                    border-bottom: .5px solid rgb(242, 242, 242);
                }
                .-selete-content{
                    padding: 20px 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .-modal-set{
        height: 45em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}




