.id{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
    .modal{
        display: flex;
        height: 100%;
        margin: 0 1em;
        flex-direction: column;
        .modal-user{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .modal-selete{
                position: relative;
                box-sizing: border-box;
                width: 100%;
                max-width: 340px;
                background: #fff;
                border-radius: 10px;
                overflow-x: hidden;
                pointer-events: auto;
                height:265px;
                .selete-header{
                    margin: 0 22p x;
                    padding: 15px 0;
                    font-size: 20px;
                    text-align: center;
                    border-bottom: .5px solid rgb(242, 242, 242);
                }
                .selete-content{
                    padding: 30px 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .svg{
                        display:inline-block;
                        margin-right:3px;
                        position:relative;
                        left: 5px;
                        bottom: -3px;
                    }
                    .users-g{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40%;
                        height: 40px;
                        font-size:18px;
                        color: #fff;
                        background: rgb(24, 195, 170);
                        border-color: rgb(24, 195, 170);
                        border-radius: 999px;
                        margin-bottom: 30px;
                    }
                    colors{
                        background: rgb(210, 210, 210);
                        border-color: rgb(210, 210, 210);
                    }
                }
            }
        }
    }
    .login {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.3);
        .center {
            display: flex;
            height: 100%;
            margin: 0 1em;
            .center-login {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                .login-desc {
                    position: relative;
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 340px;
                    background: #fff;
                    border-radius: 10px;
                    height: 285px;
                    .login-header {
                        margin: 0 22px;
                        padding: 15px 0;
                        font-size: 20px;
                        text-align: center;
                        border-bottom: 0.5px solid rgb(242, 242, 242);
                        .vback{
                            position: absolute;
                            right: 18px;
                            top:15px;
                        }
                      }
                      .Input {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 56%;
                        margin: 0;
                        padding: 9px;
                        color: inherit;
                        font: inherit;
                        font-size: 14px;
                        line-height: 20px;
                        background: rgb(247, 247, 247);
                        border: 1px solid rgb(247, 247, 247);
                        border-radius: 999px;
                        appearance: none;
                        outline: none;
                      }
                      .Input {
                        display: inline-block;
                        box-sizing: border-box;
                        width: 56%;
                        margin: 0;
                        padding: 9px;
                        color: inherit;
                        font: inherit;
                        font-size: 14px;
                        line-height: 20px;
                        background: rgb(247, 247, 247);
                        border: 1px solid rgb(247, 247, 247);
                        border-radius: 999px;
                        appearance: none;
                        outline: none;
                      }
                      .bluebt{
                        border-radius: 10px;
                        background-color: rgb(64,158,255);
                        background: rgb(64,158,255);
                        color:#fff;
                        border: 1px solid rgb(64,158,255);
                        line-height: 38px;
                        width: 39%;
                      }
                      .button-modal {
                        display: flex;
                        justify-content: space-around;
                        padding: 0px 22px;
                        margin: 12px 0 27px 0;
                        .button-ye {
                            width: 180px;
                            padding: 6px 0;
                            font-size: 15px;
                            line-height: 27px;
                            color: #fff;
                            background: rgb(24, 195, 170);
                            border-color: rgb(24, 195, 170);
                            text-align: center;
                            text-decoration: none;
                            white-space: nowrap;
                            border: 0.5px solid rgb(242, 242, 242);
                            border-radius: 999px;
                            margin-top: 20px;
                          }
                      }
                  }
              }
          }
      }
}

