body {
    margin: 0px;
    padding: 0px;
    /* color: rgb(51, 51, 51) */
}

.Consignee-message {
    padding: 15px;
    overflow: auto;
    background: rgb(255, 255, 255);
    margin-bottom: -11px;

    .suib {
        display: flex;
        flex-direction: column;

        .Headline {
            display: flex;
            font-size: 15px;
            margin-top: 1px;
            font-weight: 300;
            margin-left: 0px;
            margin-bottom: 15px;
            color: rgb(51, 51, 51);
        }

        .wire {
            border-bottom: 1px solid #f2f2f2;
            width: 100%;
            margin-bottom: 0px;
        }
    }

    .message {
        margin-top: 15px;

        .expressage {
            margin-bottom: 15px;
            color: rgb(242, 129, 129);
            font-size: 13px;
            text-align: center;
            margin-top: 15px;
            font-weight: 100;
            padding: 6px;
            background: rgba(242, 129, 129, 0.1);
            border-radius: 5px;
        }

        .Field {
            display: flex;
            align-items: center;
            margin-bottom: 15px;

            .Field-name {
                flex-shrink: 0;
                width: 52px;
                color: rgb(51, 51, 51);
                font-size: 15px;
                font-weight: 300;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            .van-button.van-button--default.van-button--normal {
                background-color: rgb(247, 247, 247);
                width: 100%;
                text-align: left;
                border-radius: 5px;
                height: 40px;
            }

            .Input {
                width: 100%;
                margin: 0;
                padding: 9px;
                border-radius: 5px;
                outline: none;
                color: rgb(51, 51, 51);
                font-size: 14px;
                line-height: 20px;
                background: rgb(247, 247, 247);
                border: 1px solid rgb(247, 247, 247);
            }

            .Field input::-webkit-input-placeholder {
                font-size: 14px;
                font-weight: 400;
            }
        }

        .wire-two {
            border-bottom: 1px solid #f2f2f2;
            width: 100%;
            margin-bottom: 18px;
        }
    }
}

.blank {
    height: 15px;
    background: rgb(242, 242, 242);
    width: 100%;
}

.IP-anonym {
    color: rgb(51, 51, 51);
    padding: 12px 0px;
    background: rgb(255, 255, 255);

    .wrap {
        display: flex;
        align-items: center;
        padding: 0px 15px;
        justify-content: space-between;

        .IP-desc {
            height: 100%;
            display: flex;
            flex-direction: column;

            .IP-anonymous {
                font-weight: 200;
                font-size: 15px;
                font-weight: 300;
            }

            .IP-tip {
                font-size: 12px;
                color: rgb(170, 170, 170);
                /* margin-bottom: 22px; */
            }
        }

        .Checkbox {
            width: 23px;
            height: 23px;
            background: #fff;
            border-radius: 50%;
            border: 1px solid rgb(24, 195, 170);
            transition: background 0.1s;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            &.anonymous {
                background-color: rgb(24, 195, 170);
            }
        }
    }
}

.blank-two {
    height: 15px;
    background: rgb(242, 242, 242);
    margin-top: -25px;
}

.book-message {
    flex-direction: column;
    display: flex;
    padding: 15px 15px 0px 15px;
    color: rgb(51, 51, 51);

    .line {
        height: 1px;
        width: 100%;
        background-color: rgb(242, 242, 242);
        margin: 10px 0px;
    }

    .book-price {
        display: flex;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 5px;

        .books-name {
            display: flex;
            font-size: 15px;
            font-weight: 100;
            align-items: center;
        }

        .money {
            font-size: 15px;
        }
    }

    .book-price-two {
        display: flex;
        font-weight: 300;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .books-name-two {
            display: flex;
            font-weight: 300;
            font-size: 15px;
            text-align: center;
        }

        .money {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .root-five {
        display: flex;
        margin-top: 7px;
        margin-bottom: 11px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .name-five {
            display: flex;
            font-weight: 300;
        }

        .value-five {
            font-size: 15px;
            font-weight: 400;
        }
    }

    .xian {
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(242, 242, 242);
    }

    .footer.temp {
        display: flex;
    }

    .price-interval {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        text-align: right;

        .temp-name {
            font-size: 15px;
            font-weight: 100;
            margin-bottom: 5px;

            .final {
                font-size: 1.33em;
                font-weight: 400;
                font-size: 19.5px;
                color: rgb(242, 129, 129);
            }
        }
    }

    .sell-order-revenueTip {
        font-size: 12px;
        font-weight: 100;
        color: rgb(170, 170, 170);
        display: flex;
        justify-content: space-between;

        .predict {
            display: flex;
            align-items: center;
        }
    }

    .Fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;

        .Button--block {
            display: block;
            width: 100%;
        }

        .Button--primary {
            color: #fff;
            background: rgb(24, 195, 170);
            border-color: rgb(24, 195, 170);
        }

        .Button {
            display: inline-block;
            box-sizing: border-box;
            padding: 8px 1.5em 8px;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            border: .5px solid rgb(242, 242, 242);
            border-radius: 999px;
            pointer-events: auto;
            cursor: pointer;
        }

        button {
            margin: 0;
            padding: 0;
            font: inherit;
            color: inherit;
            border: none;
            outline: none;
            background: none;
            -webkit-appearance: none;
            appearance: none;
            -webkit-user-select: none;
            user-select: none;
            pointer-events: auto;
        }
    }
}