.Castaboutss{
    height :100%;
   
}
.castabout-header{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    animation: fadeInShadow 0.2s;
    .castabout-case{
        margin: 0px auto;
        .castabout-form{
            position: relative;
            padding: 15px 13px;
            .castabout-searchInput{
                display: block;
                box-sizing: border-box;
                width: 100%;
                font: inherit;
                font-size: 14px;
                line-height: 24px;
                padding: 6px 16px;
                background: rgb(242, 242, 242);
                border: none;
                border-radius: 999px;
                outline: none;
            }
           
        }
         .castabout-resetButton{
                position: absolute;
                top: 15px;
                right: 18px;
                width: 33px;
                height: 33px;
                border: none;
                .castabout-inner{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    .Search-removeIcon{
                        width: 16px;
                        stroke: currentColor;
                        stroke-width: 1px;
                    }
                }
            }
    }
}
.castabout-root{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    .SearchBookItem{
        display: flex;
        position: relative;
        padding: 15px;
        color: inherit;
        font-size: 14px;
        text-decoration: none;
        background: #fff;
        .castabout-image{
            width: 60px;
            height: 90px;
            margin-right: 12px;
        }
        .SearchBookItem-title{
            margin: 0 0 4px;
            font-size: inherit;
            font-weight: 400;
            font-size :14px;
        }
        .SearchBookItem-description{
            color: rgb(170, 170, 170);
            font-size: 12px;
        }
    }
}
.Button{
    display: inline-block;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 999px;
    pointer-events: auto;
    cursor: pointer;
}
button {
    margin: 0;
    font: inherit;
    color: inherit;
    outline: none;
    background: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
}
.jsx-castabout{
    display: flex;
    justify-content: center;
    height: 19px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 19px;
    padding: 30px 0px;
    .castabout-sroot{
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.1);
        .line{
            width: 42px;
            border-top: 1px solid currentcolor;
        }
        .svgw{
            transform: rotate(45deg);
            margin: 0px 9px;
        }
    }
}
