.searchbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .25);
    animation: fadeInShadow .2s;
}

.theaccounat {
    font-size: 12px;
    font-weight: 400;
    padding: 6px 12px;
    border: none;
    box-shadow: none;
    border-radius: 999px;
    color: #fff;
    background-color: rgb(242, 129, 129);
    white-space: nowrap;
    bottom: 0px;
}

.searchboxox {
    max-width: 600px;
    margin: 0px auto;
}

.Search-form {
    position: relative;
    padding: 15px 13px;
}

.SearchInput {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font: inherit;
    font-size: 14px;
    line-height: 24px;
    padding: 6px 16px;
    background: rgb(242, 242, 242);
    border: none;
    border-radius: 999px;
    outline: none;
}

.Button--icon {
    padding: 0;
}

.Button-inner {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #F1F1F1;

}

.Search-removeIcon {
    width: 16px;
    stroke: currentColor;
    stroke-width: 1px;
}

.Search-resetButton {
    position: absolute;
    top: 15px;
    right: 18px;
    width: 33px;
    height: 33px;
    border: none;
}

.substance {
    padding-bottom: 40px;

    .classification {
        display: flex;
        align-items: center;
        padding: 12px 15px;
        background: #fff;

        .Search-tagImage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin-right: 12px;
            color: #fff;
            background: rgb(24, 195, 170);
            border-radius: 3px;
        }

        .Search-tagName {
            flex-grow: 1;
        }

        .Search-tagMeta {
            color: rgb(170, 170, 170);

            .Search-tagIcon {
                margin-left: 1px;
            }
        }
    }
}

.Search {
    box-sizing: border-box;
    min-height: 100vh;
    padding-top: 66px;
}





.SearchBookItem {
    position: relative;
    padding: 15px;
    color: inherit;
    font-size: 14px;
    text-decoration: none;
    background: #fff;
    display: flex;
    border-bottom: 0.5px solid #ECECEC;

    .evenBetween {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .fiction {
            display: flex;
            margin: 0 0 4px;
            font-size: inherit;
            font-weight: 400;
        }

        .SearchBookItem-description {
            color: rgb(170, 170, 170);
            font-size: 12px;
            padding-left: -2px;
            display: flex;
            text-align: left;

        }

        .SearchBookItem-meta {
            display: flex;
            flex-wrap: wrap;
            min-height: 30px;
            margin-right: 3px;
            margin-top: 7.1px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .intoCart {
                width: 60px;
                background-color: rgb(242, 129, 129);
                border-radius: 999px;
                height: 30px;
                font-size: 12px;
                font-weight: 500;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 1em;
            }

            .cart-existence {
                width: 100px;
                background-color: rgba(230, 230, 230, 0.5);
                border-radius: 999px;
                height: 30px;
                font-size: 12px;
                font-weight: 500;
                color: rgb(170, 170, 170);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 1em;
            }

            .book-appearances {
                width: 100px;
                background-color: rgb(242, 129, 129);
                border-radius: 999px;
                height: 30px;
                font-size: 12px;
                font-weight: 500;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 1em;
            }

            .appearances-choose.van-popup.van-popup--bottom {
                padding: 20px;
                border-radius: 10px 10px 0px 0px;
                width: 90%;

                .title {
                    display: flex;
                    flex-direction: column;

                    .title-name {
                        font-size: 18px;
                        font-weight: 500;
                        color: rgb(51, 51, 51);
                    }

                    .appearances-rule {
                        margin-top: 2px;
                        line-height: 1.46;
                        font-size: 13px;
                        color: rgb(170, 170, 170);
                        display: flex;
                        align-items: center;

                        .appearances-showRules {
                            display: flex;
                            align-items: center;
                            margin-left: 5px;
                            font-size: 13px;
                            line-height: 1.46;
                            color: rgb(51, 51, 51)
                        }
                    }
                }

                .appearances-list {
                    margin-top: 16px;
                    margin-bottom: 12px;

                    .appearances-content {
                        display: flex;
                        box-sizing: border-box;
                        height: 72px;
                        margin-bottom: 12px;
                        flex-direction: row;
                        align-items: center;
                        padding: 0px 13px 0px 18px;
                        border-radius: 4px;
                        border-width: 1px;
                        border-style: solid;
                        border-color: rgb(242, 242, 242);

                        &.select {
                            border-color: rgb(242, 129, 129);
                            border-width: 1px;
                        }

                        .price {
                            font-weight: 500;
                            line-height: 1.2;
                            font-size: 22px;
                            margin-right: 10px;
                        }

                        .appearances-text {
                            color: rgb(102, 102, 102);
                            line-height: 1.31;
                            font-size: 13px;

                            &.new {
                                color: rgb(214, 186, 140);
                            }
                        }
                    }
                }

                .choose {
                    background: rgb(242, 129, 129);
                    color: #fff;
                    height: 40px;
                    border-radius: 3px;
                    padding: 0 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }

            .cart-existence-appearances {
                width: 100px;
                background-color: rgba(230, 230, 230, 0.5);
                border-radius: 999px;
                height: 30px;
                font-size: 12px;
                font-weight: 500;
                color: rgb(170, 170, 170);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px 1em;
            }

            .Pricesaf {
                margin-right: 5px;
                margin: 2px 0;
                font-weight: normal;

            }

            .appearances {
                color: rgb(24, 195, 170);
                border: .5px solid #18c3aa;
                margin: 2px;
                font-size: 11px;
                padding: 0px 4px;
                border-radius: 4px;
            }
        }

    }

    .detrimenthj {
        display: flex;
        align-items: flex-end;
    }

}