body {
    font: 300 15px/1.4 PingFang SC, Helvetica Neue, Helvetica, Microsoft YaHei, Arial, sans-serif;
}

.cart-wrapper {

    .tabs {
        display: flex;
        background: #fff;
        height: 50px;
        border-bottom: .5px solid rgb(242, 242, 242);
        font-weight: 400;
        font-size: 16px;

        .tab {
            flex-grow: 1;
            display: flex;
            justify-content: center;

            &>div {
                display: flex;
                align-items: center;
                border-bottom: 3px solid #fff;
            }

            &.active>div {
                display: flex;
                align-items: center;
                color: #18c3aa;
                border-bottom: 3px solid #18c3aa;
            }
        }

    }

    @mixin checkbox {
        .checkbox {
            align-self: center;
            border: 1px solid rgb(24, 195, 170);
            border-radius: 999px;
            font-size: 18px;
            text-align: center;
            width: 23px;
            height: 23px;

            &.checked {
                background: rgb(24, 195, 170);
            }
        }
    }

    .books {
        background: #fff;

        .book {
            border-top: 0.5px solid rgb(242, 242, 242);
            padding: 21px 15px;
            display: flex;

            @include checkbox;

            .content {
                flex: 1;
                display: flex;
                flex-direction: row;

                img {
                    width: 50px;
                    height: 70px;
                }

                .info {
                    flex: 1;
                    margin-left: 12px;

                    .title {
                        color: #333;
                        font-size: 14px;
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 400
                    }

                    .desc {
                        font-size: 12px;
                        color: #666;
                        margin-top: 4px;

                        .text {
                            font-size: 12px;
                            color: #666;
                            margin-top: 4px;

                            &.appearances {
                                padding: 4px;
                                border: .5px solid rgb(242, 242, 242);
                            }

                            &.new {
                                color: rgb(214, 186, 140);
                            }
                        }

                    }

                    .appearances-choose.van-popup.van-popup--bottom {
                        padding: 20px;
                        border-radius: 10px 10px 0px 0px;
                        width: 90%;

                        .title {
                            display: flex;
                            flex-direction: column;

                            .title-name {
                                font-size: 18px;
                                font-weight: 500;
                                color: rgb(51, 51, 51);
                            }

                            .appearances-rule {
                                margin-top: 2px;
                                line-height: 1.46;
                                font-size: 13px;
                                color: rgb(170, 170, 170);
                                display: flex;
                                align-items: center;

                                .appearances-showRules {
                                    display: flex;
                                    align-items: center;
                                    margin-left: 5px;
                                    font-size: 13px;
                                    line-height: 1.46;
                                    color: rgb(51, 51, 51)
                                }
                            }
                        }

                        .appearances-list {
                            margin-top: 16px;
                            margin-bottom: 12px;

                            .appearances-content {
                                display: flex;
                                box-sizing: border-box;
                                height: 72px;
                                margin-bottom: 12px;
                                flex-direction: row;
                                align-items: center;
                                padding: 0px 13px 0px 18px;
                                border-radius: 4px;
                                border-width: 1px;
                                border-style: solid;
                                border-color: rgb(242, 242, 242);

                                &.select {
                                    border-color: rgb(242, 129, 129);
                                    border-width: 1px;
                                }

                                .price {
                                    font-weight: 500;
                                    line-height: 1.2;
                                    font-size: 22px;
                                    margin-right: 10px;
                                }

                                .appearances-text {
                                    color: rgb(102, 102, 102);
                                    line-height: 1.31;
                                    font-size: 13px;

                                    &.new {
                                        color: rgb(214, 186, 140);
                                    }
                                }
                            }
                        }

                        .choose {
                            background: rgb(242, 129, 129);
                            color: #fff;
                            height: 40px;
                            border-radius: 3px;
                            padding: 0 1em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                    }

                    .condition {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        .price {
                            color: #333;
                        }

                        .lock {
                            font-size: 12px;
                            padding: 6px 10px;
                            background-color: rgb(255, 255, 255);
                            color: rgb(24, 195, 170);
                            white-space: nowrap;
                            border: .5px solid rgb(242, 242, 242);
                            border-radius: 999px;
                            text-align: center;
                            border-color: rgb(24, 195, 170);
                        }
                    }
                }
            }
        }

        &.warn {
            .info {
                display: flex;
                flex-direction: column;

                .title {
                    margin: 0px
                }
            }

            .condition {

                .reserve {
                    color: rgb(170, 170, 170);
                    font-size: 12px;
                }
            }
        }
    }

    .books-warn {
        background: #fff;

        .book {
            border-bottom: 0.5px solid rgb(242, 242, 242);
            padding: 21px 15px;
            display: flex;

            @include checkbox;

            .content {
                flex: 1;
                display: flex;
                flex-direction: row;

                img {
                    width: 50px;
                    height: 70px;
                }

                .info {
                    flex: 1;
                    margin-left: 12px;

                    .title {
                        color: #333;
                        font-size: 14px;
                        display: flex;
                        justify-content: space-between;
                        font-weight: 400
                    }

                    .desc {
                        font-size: 12px;
                        color: #666;
                        margin-top: 4px;

                        .text {
                            font-size: 12px;
                            color: #666;
                            margin-top: 4px;

                            &.appearances {
                                padding: 4px;
                                border: .5px solid rgb(242, 242, 242);
                            }

                            &.new {
                                color: rgb(214, 186, 140);
                            }
                        }

                    }

                    .condition {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        margin-top: 20px;

                        .reserve {
                            color: rgb(170, 170, 170);
                            font-size: 12px;
                        }

                        .lock {
                            font-size: 12px;
                            padding: 6px 10px;
                            background-color: rgb(255, 255, 255);
                            color: rgb(102, 102, 102);
                            white-space: nowrap;
                            border-radius: 999px;
                            text-align: center;
                            border: .5px solid rgb(242, 242, 242);
                        }
                    }
                }
            }
        }

        .books-warn-text {
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            text-align: center;
            color: rgb(170, 170, 170);
        }

        &.warn {
            .info {
                display: flex;
                flex-direction: column;

                .title {
                    margin: 0px
                }
            }

            .condition {

                .reserve {
                    color: rgb(170, 170, 170);
                    font-size: 12px;
                }
            }
        }
    }

    .navs {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgb(247, 247, 247);

        .coupon {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 13px;
            background-color: rgb(244, 252, 251);
            color: rgb(24, 195, 170);
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            padding: 8px 0px;
            font-weight: 400
        }

        .settle {
            padding: 10px 15px;
            display: flex;
            align-items: center;
            white-space: nowrap;

            .selected {
                display: flex;
                @include checkbox;

                .cart-count {
                    margin-left: 6px;
                }
            }

            .text {
                flex-grow: 1;
                margin-right: 15px;

                .price {
                    margin-left: 10px;
                    text-align: right;
                    line-height: 1.2;
                    font-size: 20px;
                    color: rgb(242, 129, 129);
                }

                .desc {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 12px;
                    color: rgb(170, 170, 170);
                }
            }

            .submit {
                box-sizing: border-box;
                width: 105px;
                border-radius: 3px;
                color: #fff;
                background: rgb(24, 195, 170);
                border-color: rgb(24, 195, 170);
                padding: 8px 1.5em 8px;
                font-size: 18px;
                text-align: center;
            }
        }
    }

    .back {
        height: 46px;
        width: 46px;
        border-radius: 50%;
        background: rgba(102, 102, 102, 0.96);
        position: fixed;
        bottom: 120px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}